@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

li{
  @apply p-4 mx-4 text-2xl text-center cursor-pointer hover:scale-105 duration-300;
}
*{
 
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}
/* body{
  @apply bg-zinc-200 scrollbar-hide
} */

